.jumbotron
    h1(align="center") About 
    p.muted(align="center") the about and stuffs for this wonderfully selfish site
hr
.row-fluid
    .span4
        h4 Who
        p This is just me so far, but hoping that might change :) 
    .span4
        h4 Why
        p Heh, well, because I work near AT&amp;T Park and when there's a game, it affects my commute. 
    .span4
        h4 How
        p Rockin' out with Node.js (and all it's glorious friends), some Bootstrap-ness, thrown on an EC2 instance, and some flavor on top.  If you're interested in checking out the source, you can find it on github 
.row-fluid(style="height:40px")
.row-fluid
    .span12.muted(align="center") disclaimer: I'm a Dodgers fan living in San Francisco, but regardless, I'm still a baseball fan.