.navbar.navbar-fixed-top
    .navbar-inner
        .container
            a.brand(href='#home') #{config.info.name} 
                span.muted ?
            ul.nav.pull-left#days
                li.today.hidden-phone
                    a(href="/#today") Today
                li.tomorrow.hidden-phone
                    a(href="/#tomorrow") Tomorrow
                li.yesterday.hidden-phone
                    a(href="/#yesterday") Yesterday
            a(href="#{config.mlb.url}", target="_blank").pull-right
                img(src="#{config.team.logo.header}",style="height:32px;padding-top:4px")
            ul.nav.pull-right
                li
                    a(href="/#about") About
                li.divider-vertical
            