.row
    .span12(align="center") 
        h3.muted Are the Giants Playing at Home?
    .span12
        .row
            .span2(align="center").well
                h4.muted Yesterday
            .span6(align="center") 
                .row
                    h3 Today
                .row 
                    The Game Info
                
            .span2(align="center").well
                h4 Tomorrow
.row
    .span12(align="center") #{schedule.ics}